# Виртуальное окружение (папка целиком)
.venv/
venv/
ENV/

# Кэш компиляции Python (все папки с такими именами на любом уровне)
_pycache_/
__pycache__/
*.pyc

# Настройки редактора VS Code (если появятся)
.vscode/

# Секреты и локальные настройки окружения
.env

# Файл БД
*.db